@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Neutral';
    src: url("./assets/font/Neutral.ttf");
    font-weight: normal;
    font-style: normal;
  }

body {
    font-family: 'Neutral', sans-serif;
}